<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834108486797-n3jq32r2lrooddlmm1rqnq9elb3tf0be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834108486797-n3jq32r2lrooddlmm1rqnq9elb3tf0be</string>
	<key>API_KEY</key>
	<string>AIzaSyDwa8ljrutxf4RBudYlhjHzgM7hDiKCmrc</string>
	<key>GCM_SENDER_ID</key>
	<string>834108486797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examApp</string>
	<key>PROJECT_ID</key>
	<string>raise-hope</string>
	<key>STORAGE_BUCKET</key>
	<string>raise-hope.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834108486797:ios:486778e2b1ca46c6d29ec4</string>
</dict>
</plist>